

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    		xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    		version="2.4">
    		
	<servlet>
	 	<servlet-name>rpc-servlet</servlet-name>
		<display-name>rpc-servlet</display-name>
		<servlet-class>com.hms.rpc.RPCServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>rpc-servlet</servlet-name>
		<url-pattern>/rpc/*</url-pattern>
	</servlet-mapping>

</web-app>
