<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<servlet>
		<servlet-name>ZIZWServlet</servlet-name>
		<servlet-class>com.honmansoft.ajax.ZIZWServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ZIZWServlet</servlet-name>
		<url-pattern>/ZIZWServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ZIZWServlet</servlet-name>
		<url-pattern>/js/com/honmansoft/ajax/__RemoteBean/*</url-pattern>
	</servlet-mapping>
	
</web-app>
